@import "tailwindcss";

@utility container {
  padding-inline: 20px;
  margin-inline: auto;
  max-width: 1194px;
}
h1 {
  font-family: var(--font-epilogue);
}

p {
  font-family: var(--font-inter);
}

button {
  font-family: var(--font-redhat);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neutrals-100: var(--neutrals-100);
  --font-epilogue: "Epilogue";
  --font-inter: "Inter";
  --font-redhat: "Red_Hat_Display";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Epilogue", sans-serif;
}
